---
import Experience from "../components/Experience.astro";
import Link from "../components/Link.astro";
import Project from "../components/Project.astro";
import Section from "../components/Section.astro";
import { SEO } from "astro-seo";

import syncoreImage from "../../public/images/syncore.png";
import whopImage from "../../public/images/whop.png";
import syncoreSiteImage from "../../public/images/syncore-site.png";
import whopSiteImage from "../../public/images/whop-site.png";
import selfEmployedImage from "../../public/images/self-employed.png";
import selfEmployedSiteImage from "../../public/images/self-employed-site.png";

const age = new Date().getFullYear() - 2005;

const meta = {
  title: "caleb delbridge",
  description: "software engineer, kinda hate bad ux tbh",
  url: "https://calebdelbridge.com",
  image: "/og.png",
};
---

<html lang="en" class="bg-[#161618] text-white font-mono">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={meta.title}
      description={meta.description}
      canonical={meta.url}
      openGraph={{
        basic: {
          title: meta.title,
          type: "website",
          url: meta.url,
          image: meta.image,
        },
        optional: { description: meta.description },
      }}
      twitter={{
        title: meta.title,
        description: meta.description,
        image: meta.image,
        card: "summary",
        creator: "@jaxenormus",
        site: meta.url,
      }}
    />
    <style>
      * {
        color-scheme: dark;
      }
    </style>
  </head>
  <body class="max-w-2xl mx-5 md:mx-auto my-8 md:my-32 space-y-12">
    <Section id="hero" title="caleb delbridge (aka jax)">
      <p class="text-zinc-400 text-sm lg:text-base">
        <span>
          {age} year old software engineer in brooklyn, ny. ex vex robotics
          programmer, builder, and driver for 8 years. freelance developer on
          the side. currently at
        </span>
        <Link href="https://whop.com">whop</Link>
        <span>helping reinvent the internet economy.</span>
      </p>
    </Section>
    <Section id="experience" title="my journey & experience">
      <div class="flex flex-col gap-5">
        <Experience
          company="whop"
          image={whopImage}
          siteImage={whopSiteImage}
          position="software engineer"
          start="2023"
          end="current"
        />
        <Experience
          company="self employed"
          image={selfEmployedImage}
          siteImage={selfEmployedSiteImage}
          position="freelance developer"
          start="2020"
          end="current"
        />
        <Experience
          company="syncore llc"
          image={syncoreImage}
          siteImage={syncoreSiteImage}
          position="frontend developer"
          start="2021"
          end="2022"
        />
      </div>
    </Section>
    <Section id="projects" title="few projects and things of that nature">
      <div class="flex flex-col gap-5">
        <Link href="https://new.twilid.com">
          <Project
            title="twilid"
            description="a calendar app built to transform how businesses, creators, and organizations share and manage their events, like google calendar, but on steroids with a focus on interactive and shareable event experiences."
          />
        </Link>
        <Link href="https://www.kinfolq.com/">
          <Project
            title="kinfolq"
            description="a landing page for the 2nd annual kinfolq conference in nyc. built using nextjs and tailwind, the site was able to be spun up in a couple days to provide all the information needed for attendees."
          />
        </Link>
        <Project
          title="escrow"
          description="an automated crypto and roblox limiteds middleman discord bot. built using typescript and the effect library, escrow has been able to facilitate over 1000+ deals helping traders safely and efficiently exchange services or items with little to no human interaction."
        />
        <Project
          title="barnabus"
          description="an advance moderation bot for discord communities. built to entirely automate the process of community moderation while also providing a wide range of other features such as music streaming and a leveling system. even though it's no longer online, it was verified by discord and used by 100s of communities."
        />
      </div>
    </Section>
    <Section id="contact" title="find & reach me here">
      <div class="space-x-2">
        <Link href="https://twitter.com/jaxenormus">twitter</Link>
        <Link href="https://www.linkedin.com/in/calebdelbridge/">linkedin</Link>
        <Link href="https://github.com/jaxenormus">github</Link>
        <Link href="mailto:me@calebdelbridge.com">email</Link>
      </div>
    </Section>
  </body>
</html>
