---
import "../styles/global.css";

import { Font } from "astro:assets";

import Experience from "@/components/Experience.astro";
import Link from "@/components/Link.astro";
import Project from "@/components/Project.astro";
import Section from "@/components/Section.astro";
import { SEO } from "astro-seo";

import syncoreImage from "@/assets/images/syncore.png";
import whopImage from "@/assets/images/whop.png";
import selfEmployedImage from "@/assets/images/self-employed.png";

const meta = {
  title: "caleb delbridge",
  description: "product engineer based in brooklyn, ny",
  url: "https://calebdelbridge.com",
  image: "/og.png",
};
---

<html lang="en" class="bg-[#161618] text-white font-mono">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-mono" preload />
    <SEO
      title={meta.title}
      description={meta.description}
      canonical={meta.url}
      openGraph={{
        basic: {
          title: meta.title,
          type: "website",
          url: meta.url,
          image: meta.image,
        },
        optional: { description: meta.description },
      }}
      twitter={{
        title: meta.title,
        description: meta.description,
        image: meta.image,
        card: "summary_large_image",
        creator: "@jaxenormus",
        site: meta.url,
      }}
    />
  </head>
  <body>
    <main class="max-w-2xl mx-5 md:mx-auto my-8 md:my-32 space-y-8">
      <Section id="hero" title="caleb delbridge (aka bobvakeb)">
        <p class="text-zinc-400 -mt-2">
          product engineer 🏗️ based in brooklyn, ny.
        </p>
      </Section>
      <Section id="experience" title="experience">
        <div class="flex flex-col gap-5">
          <Experience
            company="whop"
            image={whopImage}
            position="software engineer"
            start="2023"
            end="2025"
          />
          <span
            class="w-px h-5 ml-[19px] border border-dashed border-zinc-400 -my-2.5 hidden min-[400px]:block"
          ></span>
          <Experience
            company="syncore llc"
            image={syncoreImage}
            position="frontend developer"
            start="2021"
            end="2022"
          />
          <span
            class="w-px h-5 ml-[19px] border border-dashed border-zinc-400 -my-2.5 hidden min-[400px]:block"
          ></span>
          <Experience
            company="self employed"
            image={selfEmployedImage}
            position="freelance developer"
            start="2020"
            end="2023"
          />
        </div>
      </Section>
      <Section id="projects" title="projects">
        <div class="flex flex-col gap-5">
          <Link href="https://new.twilid.com">
            <Project
              title="twilid"
              description="a calendar app built to transform how businesses, creators, and organizations share and manage their events, like google calendar, but on steroids with a focus on interactive and shareable event experiences."
            />
          </Link>
          <Link href="https://github.com/Jaxenormus/escrow/">
            <Project
              title="escrow"
              description="an automated crypto, roblox ugc and ingame trading discord bot. built using typescript and lua (used to inject scripts into games), escrow was able to facilitate 1000s of transactions processing over 500k in crypto alone."
            />
          </Link>
          <Project
            title="barnabus"
            description="a moderation bot for discord communities. built to automate the process of community moderation but also including other features like music streaming. even though it's no longer online, it was verified by discord and used by 100s of communities."
          />
        </div>
      </Section>
      <Section id="contact" title="find & reach me here">
        <div class="space-x-2">
          <Link href="https://x.com/jaxenormus">x</Link>
          <Link href="https://www.linkedin.com/in/calebdelbridge/"
            >linkedin</Link
          >
          <Link href="https://github.com/jaxenormus">github</Link>
          <Link href="mailto:me@calebdelbridge.com">email</Link>
        </div>
      </Section>
    </main>
  </body>
</html>
